*{
    margin:0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
header{
    background-color: white;
    padding-left: 2%;
    height: 4vh;
    overflow: hidden;
}
header>p{
    color: rgb(131, 131, 131);

}
header>p>img{
    height: 3vh;
}

#image{
    height: 10%;
}
#search{
    width: 70%!important;
}
#form{
    position: relative;
    border-radius: 10px;
    background-color: lavenderblush;
    border: 1px solid rgb(153, 152, 152);
    width: 90%;
    height: 60vh;
    margin: auto;
    display: flex;
    justify-content: center;
}
#form>.vl{
    border: 1px solid gray;
    height: 90%;
    margin-top: 2%;
    margin-right: 2%;
}
#form>.register{
    background-color: lavenderblush;
    margin-right: 2%;
    
    width: 45%;
    height: 100%;
    
}
#form>.register>p{
    margin-top: 2%;
    
    height: 10%;
    font-size: 1.2rem;
    color: rgb(1, 90, 26);
}
#form>.register>p>img{
    height: 50%;
}
#form>.login>p{
    margin-top: 2%;
 
    height: 10%;
    font-size: 1.2rem;
    color: rgb(1, 90, 26);
}
#form>.login>p>img{
    height: 50%;
}
#form>.login{
    background-color: lavenderblush;
    
    width: 45%;
    height: 100%;
    
}
.register>form{
    background-color: lavenderblush;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
   
}
.login>form{
    background-color: lavenderblush;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login>form>input{
    border-radius: 10px;
    background-color: lavenderblush;
    border: transparent ;
    border-bottom: 2px solid rgb(183, 174, 174);
    width: 100%;
    height: 15%;
    margin-top: 10%;
}
.register>form>input{
    border-radius: 10px;
    background-color: lavenderblush;
    border: transparent ;
    border-bottom: 2px solid rgb(183, 174, 174);
    width: 100%;
    height: 20%;
    margin-top: 2%;
}
.register>form>.submit{
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    border: transparent;
    width: 30%;
    height: 15%;
    margin-left: 34%;
}
.login>form>.submit{
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: 1.2rem;
    border: transparent;
    width: 30%;
    height: 15%;
    margin-left: 7%;
}
#form input:hover{
    border: 1px solid rgb(91, 91, 151);
}
#form input::placeholder{
    color: #660000;
}
#disable{
    margin-top: 8%;
    background-color: blue;
    border:transparent ;
    width: 30%;
    height: 30%;
    color: white;
}
.text{
    font-weight: 700;
    text-align: center;
    color: #660033;
}
#spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: none;
  }
  
  .spinner-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid transparent;
    border-top: 4px solid #1a07eb;
    border-bottom: 4px solid #0729eb;
    border-right: 4px solid #071eeb;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .bar{
    background-color: #0d6ffc;
    border:1px solid black;
    border-top:transparent;
    border-right: transparent;
    border-left: transparent;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: space-around;
  }
  .bar>a{
    text-decoration: none;
    color: white;
  }
  .image {
    margin-bottom: 10%;
    position: relative;
    width: 90%;
    margin: auto;
  }
  
  .image h1 {
    overflow: hidden;
    font-size: 4rem;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  .image h2{
    overflow: hidden;
    line-break: normal;
    font-size: 2.5rem;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
  .image h1 span {
   font-size: 4rem;
  }
  
  .image button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .image img {
    display: block;
    width: 100%;
    height: auto;
  }

  .image2 {
  
    position: relative;
    width: 90%;
    margin: auto;
  }
  
  .image2 h1 {
    overflow: hidden;
    font-size: 4rem;
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  .image2 h2{
    overflow: hidden;
    line-break: normal;
    font-size: 2.5rem;
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
 
  
  .image2 button {
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .image2 img {
    display: block;
    width: 100%;
    height: auto;
  }

  
  .image3 {
  
    position: relative;
    width: 90%;
    margin: auto;
  }
  
  .image3 h1 {
    overflow: hidden;
    font-size: 4rem;
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  .image3 h2{
    overflow: hidden;
    line-break: normal;
    font-size: 2.5rem;
    position: absolute;
    top: 60%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }
  
 
  
  .image3 button {
    position: absolute;
    bottom: 10%;
    left: 10%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .image3 img {
    display: block;
    width: 100%;
    height: auto;
  }
  #co{
    background-color: azure;
  }
  #co h2, #co h4{
    overflow: hidden;
  }
  #co a{
    overflow: hidden;
    text-decoration: none;
    color: #660033;
  }
  #co a:hover{
  
    padding: 20%;
    border-left:4px solid black;
         background-color: rgb(150, 147, 142);
  }
 .read{
    padding-left: 1.2%;
    width: 90%;
    height: 60vh;
    
    display:flex;
    margin: auto;
 }
 .read2{
    padding-left: 1.2%;
    width: 90%;
    height: 60vh;
  
    display:flex;
    margin: auto;
 }
 .read>div{
    width: 90%;
    height: 100%;
 }
 .read img{
    width: 90%;
    height: 100%;
 }
 .read2>div{
    width: 90%;
    height: 100%;
 }
 .read2 img{
    width: 100%;
    height: 100%;
 }
 .read h2{
    overflow: hidden;
 }
 .read2 h2{
    overflow: hidden;
 }

 
 footer{ 
  display: flex;
  justify-content: space-around;
  align-items: center;
  
    width: 100%;
    height: 60vh;
   background-color: rgb(185, 183, 183);
 }
 footer h4{
  overflow: hidden;
 }
section{
  width: 100%;
  height: 5vh;
  background-color: rgb(117, 117, 117);
  color: white;
  text-align: center;
}
 #c:hover{
    display: block;
 }
 #field img:hover{
    cursor: pointer;
    transform: scale(1.2);
 }
 #fild img:hover{
    cursor: pointer;
    transform: scale(1.2);
 }
 #new1{
    
    display: none;
 }
 #new2{
    display: none;
 }
 #new3{
    display: none;
 }

 #secondContainer{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  display: flex;
flex-direction: column;
 }
 #container{
  padding-left:1.2% ;
  text-align: justify;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
 }
 #container>.card{
  padding: 1.2%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
 }
 .left {
  text-align: left;
  display: inline-block;
  width: 150px;
}

.right {
  text-align: right;
  display: inline-block;
  width: 150px;
 
}


#check{
   border-color: transparent;
   border-radius: 10px;
   box-shadow: rgba(16, 237, 8, 0.5) 0px 54px 55px, rgba(16, 237, 8, 0.5) 0px -12px 30px, rrgba(16, 237, 8, 0.5) 0px 4px 6px, rgba(16, 237, 8, 0.5) 0px 12px 13px, rgba(16, 237, 8, 0.5) 0px -3px 5px;
  margin: auto;
  width: 40%;
  height: 15%;
  background-color: green;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
}



 @media  screen and (max-width:990px) {
    #new1{
       
        display: block;
    }
    #new1 a{
        color: white;
    }
    #new2{
        display: block;
    }
    #new2 a{
        color: white;
    }
    #new3{
        display: block;
    }
    #new3 a{
        color: white;
    }
    .bar{
        display: none;
    }
    #form{
        text-align: center;
        align-items: center;
        height: 90vh;
        margin: auto;
        flex-direction: column;
    }
    .vl{
        display: none;
    }
    
 }
 